<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Documentatie</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./style.css">
		<link href='https://fonts.googleapis.com/css2?family=Oswald&display=swap' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<ARTICLE>
			<header>
				<h1>
					TerroViz: Vizualizator de atacuri teroriste
				</h1>
			</header>
			<div id="informatiiGenerale">
				<section typeof="sa:AuthorsList">
					<h2>Autori</h2>
					<ul>
						<li typeof="sa:ContributorRole" property="schema:author">
							<span typeof="schema:Person">
								<meta property="schema:givenName" content="Vlad">
								<meta property="schema:additionalName" content="Ionuț">
								<meta property="schema:familyName" content="Angheluș">
								<span property="schema:name">Angheluș Vlad</span>
							</span>
							<ul>
								<li property="schema:roleContactPoint" typeof="schema:ContactPoint">
									<a href="mailto:anghelus.vlad30@gmail.com"
										property="schema:email">anghelus.vlad30@gmail.com</a>
								</li>
							</ul>
						</li>

						<li typeof="sa:ContributorRole" property="schema:author">
							<span typeof="schema:Person">
								<meta property="schema:givenName" content="George">
								<meta property="schema:additionalName" content="Octavian">
								<meta property="schema:familyName" content="Moraru">
								<span property="schema:name">Moraru George</span>
							</span>
							<ul>
								<li property="schema:roleContactPoint" typeof="schema:ContactPoint">
									<a href="mailto:georgemoraru2001@gmail.com"
										property="schema:email">georgemoraru2001@gmail.com</a>
								</li>
							</ul>
						</li>

						<li typeof="sa:ContributorRole" property="schema:author">
							<span typeof="schema:Person">
								<meta property="schema:givenName" content="Robert">
								<meta property="schema:additionalName" content="Andrei">
								<meta property="schema:familyName" content="Musteață">
								<span property="schema:name">Musteață Robert</span>
							</span>
							<ul>
								<li property="schema:roleContactPoint" typeof="schema:ContactPoint">
									<a href="mailto:robertmusteata@yahoo.com"
										property="schema:email">robertmusteata@yahoo.com</a>
								</li>
							</ul>
						</li>
					</ul>
				</section>
			</div>

			<section id="Introducere">
				<h2>
					Introducere
				</h2>
				<p>
					TerroViz este o aplicație Web cu rol în oferirea unui serviciu de informare
					legat de evenimente de natură teroristă de pe întreg globul pământesc.
				</p>
				<section>
					<h3>Motivație</h3>
					<p>Nevoia de software la nivel mondial a devenit din ce in ce mai mare,
						pentru diferite domenii (mass-media, medical, militar etc.).</p>
					<p>Aplicatia prezentata are rolul de a oferi utilizatorilor o modalitate
						prin
						care acestia se pot informa despre evenimente teroriste din diferite tari
						ale lumii. Obiectivul principal este informarea despre posibile pericole
						de
						natura terorista ce pot sa apara intr-o tara aleasa de cineva.</p>
					<p>TerroViz a fost proiectat pentru informarea publicului larg si pentru a
						se
						putea extrage diferite date legate de terorism, si eventual prelucrarea
						acestora in informatii, si ulterior in cunostiinte.</p>
				</section>
			</section>

			<section id="Prezentare_generala">
				<h2>
					Descriere aplicație
				</h2>
				<section>
					<h3>Privire de ansamblu</h3>
					<p>
						TerroViz este în esență un instrument de vizualizare flexibilă a datelor
						privitoare la terorismul global. Cu ajutorul acestuia, utilizatorii vor
						putea colecta informații privitoare la terorismul dintr-o țară selectată de
						aceștia. Produsul este deschis publicului larg și poate constitui un
						ajutor în obținerea de date simple și prelucrări ale acestora în forma
						de informații.
					</p>
				</section>
				<section>
					<h3>Funcționalități</h3>
					<p>
						TerroViz pune la dispoziția utilizatorilor mai multe funcționalități
						pentru vizualizarea datelor cu privire la terorismul mondial.
					</p>
					<section>
						<h4>Funcționalități pentru un utilizator normal</h4>
						<p>
							Un utilizator normal este un utilizator care vine din exterior, deci nu
							poate schimba date sau modalități de funcționare a aplicației. Pentru
							acesta aplicația pune la dispoziție următoarele:
						</p>
						<ul>
							<li>Vizualizarea hărții planetei și obținerea unei descrieri pentru
								fiecare țară</li>
							<li>Obținere număr de decese, evenimente teroriste, răniți dintr-o țară</li>
							<li>Generare de statistici și metode de vizualizare ale acestora</li>
							<li>Căutare multi-criterială de incidente raportate</li>
						</ul>
					</section>
					<section>
						<h4>Funcționalități pentru un utilizator administrator</h4>
						<p>Spre deosebire de un utilizator normal, un administrator poate schimba
							anumite aspecte ale aplicației. Astfel un administrator va putea:</p>
						<ul>
							<li>Adăuga/Șterge un incident din baza de date</li>
						</ul>
					</section>

				</section>
				<p>

				</p>

			</section>

			<section id="Front-End">
				<h2>
					Interactiunea cu utilizatorul
				</h2>
				<p> Interfața cu care interacționează utilizatorul (paginile Web) sunt
					construite cu elemente de HTML5 și CSS3 conform consorțiului Web.</p>
				<section>
					<h3>
						Pagini
					</h3>
					<ul>
						<li> Pagina principală <br>
							<p> Pagina Home are rolul de a prezenta pe scurt detaliile aplicației,
								echipei și obiectivului pentru care a fost creată această aplicație.</p>
							<p> Ca funcționalități, această pagină oferă posibilitatea de a naviga
								către pagina ce conține harta cu informații despre evenimente teroriste
								sau către un formular de autentificare
								pentru administratori. </p>
						</li>
						<li> Vizualizatorul de date despre terorism <br>
							<p> Pe această pagină utilizatorul poate obține detalii despre o anumită
								țară selectată, anumite statistici pentru o tară legate de evenimente
								teroriste, căutarea unui incident după
								anumite elemente cheie și exportarea acestor cereri.
							</p>
							<p>
								În partea superioară se află o hartă pe care utilizatorul o poate folosi
								pentru selectarea unei țări. Pe baza acestei selecții, se pot realiza
								mai multe prelucrări de date:
							</p>
							<ol>
								<li> Selectarea detaliilor despre o anumită țară; </li>
								<li> Generarea unei statistici dorite;</li>
								<li> Căutarea unui posibil incident raportat.</li>
							</ol>
						</li>
						<li>
							Pagina de autentificare pentru administrator <br>
							<p> În această pagină se realizează autentificarea utilizatorilor cu rol
								de administrator. Dacă logarea se va realiza cu succes, acesta va fi
								redirecționat către o interfață pentru
								administrarea aplicației. </p>
						</li>
					</ul>
				</section>
			</section>
			<section id="contributii">
				<h2>
					Contribuțiile membrilor
				</h2>
				<section id="proiectare">
					<h3>Proiectare si Design</h3>
					<p>
						La capitolul de proiectare a design-lui site-lui, toți membrii echipei au
						contribuit cu idei pentru paginile existente pe site.
					</p>
					<p>
						Pagina de home a fost schițată de <em>Moraru George</em>. Mai jos este o
						schiță
						la cum arata la început conceptul de pagină de home.
					</p>
					<figure id="schitaHome">
						<img src="../img/raport/schita_home.jpg" alt="Imagine home page in stadiu
							de proiectare">
						<figcaption>Schiță pentru pagina de home</figcaption>
					</figure>
					<p>
						Pagina pentru vizualizarea datelor și a hărții a fost gândită de <em>Musteață
							Robert</em>.
					</p>
					<figure id="schitaVizualizator">
						<img src="../img/raport/schita_vizualizator.jpg" alt="Imagine vizualizator
							in stadiu
							de proiectare">
						<figcaption>Schiță pentru vizualizator</figcaption>
					</figure>
					<p>
						Pagina de login pentru un administrator și template-ul de popularizare cu
						informații despre o țară selectată au fost schițate de <em>Angheluș Vlad</em>.
					</p>
					<figure id="schitaLogin">
						<img src="../img/raport/schita_login.png" alt="Imagine login page in
							stadiu de proiectare">
						<figcaption>Schiță pentru pagina de logare</figcaption>
					</figure>
					<figure id="schitaTemplate">
						<img src="../img/raport/schita_detaliiTara.jpg" alt="Imagine de pagina
							template pentru detalii legate de o țară in
							stadiu de proiectare">
						<figcaption>Schiță pentru template-ul de populat cu informații despre o
							țară.</figcaption>
					</figure>
				</section>
				<section id="crearePagini">
					<h3>
						Implementarea paginilor
					</h3>
					<section id="homePageContributors">
						<h4>
							Pagina Home
						</h4>
						<p>
							Contribuțiile la pagina de primire a utilizatorilor sunt următoarele:
						</p>
						<ul>
							<li>
								Navbar-ul, Footer-ul, butoanele de login și de accesare a
								vizualizatorului și titlul au fost create de <em>Moraru George</em>.
								Acestea sunt prealuate și la pagina de vizualizator.
							</li>
							<li>
								Partea de conținut (secțiunea de About) a fost realizată de <em>Musteață
									Robert</em>. De asemenea și logo-ul aplicației a fost realizat de
								acesta.
							</li>
							<li>
								Partea de responsiveness a fost realizată de <em>Moraru George</em>.
							</li>
						</ul>
					</section>

					<section id="Vizualizator">
						<h4>
							Pagina dedicată pentru vizualizator
						</h4>
						<p>
							Această pagină poate are cel mai important rol în întreaga aplicație.
							Aceasta este într-un continuu stagiu de îmbunărățire atât pe parte
							estetică,
							cât și pe parte funcțională. Membrii echipei au realizat următoarele la
							aceasta pagină a aplicației:
						</p>
						<ul>
							<li>
								Navbar-ul și Footer-ul sunt preluate de la <em>Moraru George</em>.
							</li>
							<li>
								Căutarea imaginii SVG și eventuale modificări ale ei au fost realizate
								de
								<em>Angheluș Vlad</em>.
							</li>
							<li>
								Crearea opțiunilor de căutare, filtrare și obținere de informații a unui
								incident au fost create de <em>Musteață Robert</em>.
							</li>
							<li>
								Stilizarea opțiunilor create a fost realizată de <em>Moraru George</em>.
							</li>
							<li>
								Responsiveness-ul a fost realizat în colaborare cu <em>Moraru George</em>
								(Navbar și Footer) și <em>Musteață Robert</em> (lista de opțiuni).
							</li>
						</ul>
					</section>

					<section id="adminPages">
						<h4>
							Login și pagina de administrarea
						</h4>
						<p>
							Acestea au rolul de a oferi o interfață pentru un utilizator de tip
							administrator care să ii permită să modifice anumite caracteristici
							ale aplicației, cum ar fi conținutul bazei de date.
						</p>
						<ul>
							<li>
								Crearea paginii de login a fost realizată de <em>Vlad Angheluș</em>
								Elemente de stilizare ca de exemplu imaginea de fade din background au
								fost
								create cu ajutorul lui <em>Moraru George</em>.
							</li>
							<li>
								Pagina de selectare a unei acțiuni (dashboard-ul) pentru un administrator a fost
								realizată de <em>Musteață Robert</em> în colaborare cu <em>Moraru George</em>
								Stilizarea paginii (culori, aranjări în pagină...) a fost consituită de <em>Moraru George</em>,
								iar partea de script (codul JavaScript) de <em>Musteață Robert</em> 
							</li>
						</ul>
					</section>

					<section id="raportPage">
						<h4>
							Raportul
						</h4>
						<p>
							Prezentul raport a fost întocmit de <em>Musteață Robert</em> și <em>Angheluș Vlad</em>, aplicând tehnica
							 <b>pair programming</b>.
						</p>
					</section>

				</section>
			</section>

			<section id="development">
				<h2>
					Stagiu de dezvoltare
				</h2>
				<p>
					În momentul redactării acestui raport, aplicația se rezumă doar la partea de site/interfață pentru utilizator. Pe parcursul dezvoltării părții logice/funcționale propiu
					 zise, este extrem de probabil ca interfața să se schimbe, în funcție de opțiunile adăugate/eliminate aplicației. Pentru partea aceasta, de <u>Front-End</u>, încă se pot 
					adăuga anumite îmbunătățiri majore la nivel de design (interacțiune în timp real cu un utilizator) și performanță (viteza de încărcare a resurselor).
				</p>
			</section>

		</ARTICLE>

	</body>
</html>