<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Documentatie</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./style.css">
		<link href='https://fonts.googleapis.com/css2?family=Oswald&display=swap'
			rel='stylesheet' type='text/css'>
	</head>
	<body>

		<ARTICLE>
			<header>
				<h1>
					TerroViz: Vizualizator de atacuri teroriste
				</h1>
			</header>
			<div id="informatiiGenerale">
				<section typeof="sa:AuthorsList">
					<h2>Autori</h2>
					<ul>
						<li typeof="sa:ContributorRole" property="schema:author">
							<span typeof="schema:Person">
								<meta property="schema:givenName" content="Vlad">
								<meta property="schema:additionalName" content="Ionuț">
								<meta property="schema:familyName" content="Angheluș">
								<span property="schema:name">Angheluș Vlad</span>
							</span>
							<ul>
								<li property="schema:roleContactPoint" typeof="schema:ContactPoint">
									<a href="mailto:anghelus.vlad30@gmail.com"
										property="schema:email">anghelus.vlad30@gmail.com</a>
								</li>
							</ul>
						</li>

						<li typeof="sa:ContributorRole" property="schema:author">
							<span typeof="schema:Person">
								<meta property="schema:givenName" content="George">
								<meta property="schema:additionalName" content="Octavian">
								<meta property="schema:familyName" content="Moraru">
								<span property="schema:name">Moraru George</span>
							</span>
							<ul>
								<li property="schema:roleContactPoint" typeof="schema:ContactPoint">
									<a href="mailto:georgemoraru2001@gmail.com"
										property="schema:email">georgemoraru2001@gmail.com</a>
								</li>
							</ul>
						</li>

						<li typeof="sa:ContributorRole" property="schema:author">
							<span typeof="schema:Person">
								<meta property="schema:givenName" content="Robert">
								<meta property="schema:additionalName" content="Andrei">
								<meta property="schema:familyName" content="Musteață">
								<span property="schema:name">Musteață Robert</span>
							</span>
							<ul>
								<li property="schema:roleContactPoint" typeof="schema:ContactPoint">
									<a href="mailto:robertmusteata@yahoo.com"
										property="schema:email">robertmusteata@yahoo.com</a>
								</li>
							</ul>
						</li>
					</ul>
				</section>
			</div>

			<section id="Introducere">
				<h2>
					Introducere
				</h2>
				<p>
					TerroViz este o aplicație Web cu rol în oferirea unui serviciu de informare
					legat de evenimente de natură teroristă de pe întreg globul pământesc.
				</p>
				<section>
					<h3>Motivație</h3>
					<p>Nevoia de software la nivel mondial a devenit din ce in ce mai mare,
						pentru diferite domenii (mass-media, medical, militar etc.).</p>
					<p>Aplicatia prezentata are rolul de a oferi utilizatorilor o modalitate
						prin
						care acestia se pot informa despre evenimente teroriste din diferite tari
						ale lumii. Obiectivul principal este informarea despre posibile pericole
						de
						natura terorista ce pot sa apara intr-o tara aleasa de cineva.</p>
					<p>TerroViz a fost proiectat pentru informarea publicului larg si pentru a
						se
						putea extrage diferite date legate de terorism, si eventual prelucrarea
						acestora in informatii, si ulterior in cunostiinte.</p>
				</section>
			</section>

			<section id="Prezentare_generala">
				<h2>
					Descriere aplicație
				</h2>
				<section>
					<h3>Privire de ansamblu</h3>
					<p>
						TerroViz este în esență un instrument de vizualizare flexibilă a datelor
						privitoare la terorismul global. Cu ajutorul acestuia, utilizatorii vor
						putea colecta informații privitoare la terorismul dintr-o țară selectată
						de
						aceștia. Produsul este deschis publicului larg și poate constitui un
						ajutor în obținerea de date simple și prelucrări ale acestora în forma
						de informații.
					</p>
				</section>
				<section>
					<h3>Funcționalități</h3>
					<p>
						TerroViz pune la dispoziția utilizatorilor mai multe funcționalități
						pentru vizualizarea datelor cu privire la terorismul mondial.
					</p>
					<section>
						<h4>Funcționalități pentru un utilizator normal</h4>
						<p>
							Un utilizator normal este un utilizator care vine din exterior, deci nu
							poate schimba date sau modalități de funcționare a aplicației. Pentru
							acesta aplicația pune la dispoziție următoarele:
						</p>
						<ul>
							<li>Obținere reprezentări vizuale a diferitelor statistici pe care le
								dorește
								și descărcarea acestora în diferite formate (SVG, CSV sau PNG) </li>
							<li>Căutare multi-criterială de incidente raportate reprezentate pe o
								hartă, cu informații detaliate legate de acele evenimente</li>
						</ul>
					</section>
					<section>
						<h4>Funcționalități pentru un utilizator administrator</h4>
						<p>Spre deosebire de un utilizator normal, un administrator poate schimba
							anumite aspecte ale aplicației. Astfel un administrator va putea:</p>
						<ul>
							<li>Adăugare un incident în baza de date</li>
							<li>Ștergerea un incident din baza de date</li>
							<li>Editarea un incident din baza de date</li>
						</ul>
					</section>

				</section>

			</section>

			<section id="Front-End">
				<h2>
					Interactiunea cu utilizatorul
				</h2>
				<p> Interfața cu care interacționează utilizatorul (paginile Web) sunt
					construite cu elemente de HTML5 și CSS3 conform consorțiului Web. Pentru o
					interacțiune mai dinamică,
					s-a recurs la folosirea de JavaScript și suita de tehnologii Ajax.</p>
				<section id="HomePage">
					<h3>Home Page</h3>
					<p>
						Pagina de home are rol informativ. Aceasta prezintă misiunea echipei și utilitatea tool-lui creat.
					</p>
				</section>
				<section id="Vizualizator">
					<h3>Vizualizator</h3>
					<p>
						Vizualizatorul reprezintă o pagină din aplicație cu rolul în reprezentarea
						vizuală a unor statistici pe
						care un utilizator le poate dori despre anumite țări sau regiuni.
						Reprezentarea datelor este de fapt crearea
						unor chart-uri în care sunt puse datele.
					</p>
					<p>
						Partea stângă a paginii conține filtrele pentru statistici. Primul filtru,
						care este obligatoriu, este de a selecta
						măcar o țară sau o regiune pentru care se face statistica. Partea dreaptă
						reprezintă
						zona unde se vor desena graficele.
					</p>
					<p>Următoarele 4 filtre reprezintă de fapt criterii după care să se
						selecteze
						evenimentele. Utilizatorul poate bifa dacă vrea ca un
						criteriu să fie luat în considerare sau nu. Criteriile sunt:</p>
					<ul>
						<li>Succes: aplicația să ia în calcul evenimentele care au avut succes
							sau nu</li>
						<li>Extins: aplicația să ia în calcul evenimentele care au avut sau nu o
							durată mai lungă de 24 de ore</li>
						<li>Sinucidere: aplicația să ia în calcul evenimentele care au
							reprezentat sau nu sinuciderea celui/celor care au realizat atacul</li>
						<li>Tipul atacului: reprezintă un criteriu cu mai mult de 2 variante.
							Sunt luat in considerare în generarea
							graficelor evenimentele pentru care este cunoscut tipul de atac și acel
							tip corespunde cu cel ales din criteriu
						</li>
					</ul>
					Cele 3 filtre ce urmează (număr decese, număr răniți, număr atacuri)
					reprezintă valorile numerice care sunt folosite în diverse calcule.
					De exemplu se pot cere numărul de decetați pe ani dintr-o țară/mai multe
					țări, sau numărul de răniți,omorâți și de atacuri dintr-o țară sau dintr-o
					regiune. Filtru „Număr atacuri” poate fi folosit cu primele 4 criterii
					pentru a determina noi statistici, cum ar fi numărul de evenimente cu
					succes, extinse,
					care au fost de un tip de atac sau care au reprezentat sinucidere.
					<br>
					<p>
						Următoarele 2 filtre reprezintă intervalul pentru care se caută
						evenimentele (de la 1970 până la 2017), și tipul de redare a
						chart-urilor.
					</p>
					<p>
						Chart-uri:
						<ul>
							<li>Lines Chart: se generează un grafic de tip line care are pentru
								fiecare an din interval
								valorile căutate (număr de decese, răniți sau evenimente) și pentru
								fiecare țară/regiune selectată,cu culori diferite
							</li>
							<li>
								Scatter Chart: chart de tip scatter ce are pentru fiecare zi
								calendaristică (an,lună,zi), suma tuturor
								omorurilor, răniților sau toate evenimentele petrecute în acea zi,
								pentru fiecare regiune/țară selectată
							</li>
							<li>
								Bar Chart: acest tip de chart redă suma totală a numărului de decese,
								răniți sau evenimente pentru periaoda selectate
								pentru fiecare țară/regiune selectată.
							</li>
						</ul>
					</p>
					Restricții:
					<ul>
						<li>Un utilizator nu poate selecta mai multe regiuni și mai multe valori
							care să fie redate. De exemplu nu poate selecta
							și numărul de omoruri, și numărul de răniți și numărul de evenimente
							pentru mai multe țări/regiuni.</li>
						<li>Un utilizator nu poate selecta și țări și regiuni, deoarece nu ar
							exista o coerență a datelor reprezentate</li>
					</ul>
				</section>
				<section id="Harta">
					<h3>Hartă</h3>
					<p>
						Asemănător cu pagina de vizualizare, aceasta este împărțită în 2. Prima
						parte este destinată criteriilor după care se face
						căutarea de evenimente, iar a doua este rezervată hărții unde sunt marcate
						evenimentele.
					</p>
					<p>
						Filtre:
					</p>
					<ul>
						<li>Regiune: reprezintă un filtru obligatoriu cu rolul în specificarea
							unei regiuni unde se caută evenimentele</li>
						<li>Perioada: criteriu ce poate fi opțional. Se specifică în ce interval
							de ani au avut loc acele evenimente. Neselectarea
							acestuia implică căutarea prin evenimente fără să se țină cont de anul
							petrecerii
						</li>
						<li>Număr răniți: se caută acele evenimente care au numărul de răniți în
							intervalul specificat la acest criteriu</li>
						<li>Număr uciși: se caută acele evenimente care au numărul de uciși în
							intervalul specificat la acest criteriu</li>
						<li>Succes: se iau in considerare în procesul de căutare evenimentele care
							au o valoare specificată la atributul succes.
							Neselectarea induce căutarea și printre evenimente pentru care nu este
							relevant acest atribut
						</li>
						<li>Peste 24 de ore: se caută acele evenimente care au durat mai mult de
							24 de ore sau nu. Neselectarea duce la luarea
							în considerare și a evenimentelor pentru care nu contează acest atribut
						</li>
						<li>Suicid se caută acele evenimente care au reprezentat suicid, nu au
							reprezentat sau nu se stie (neselectarea filtrului)</li>
						<li>Tipul atacului: la selectarea acestui filtru sunt luate în considerare
							evenimentele care au ca tip de atac
							cel specificat în filtru
						</li>
					</ul>
					<p>
						La fel ca la statistici, filtrele pot fi combinate între ele pentru a
						opține evenimente mai specifice căutării utilizatorului.
					</p>
					<p>
						Evenimentele sunt reprezentate pe hartă prin markers de la Google Maps.
						Apăsarea pe un marker va genera un text area cu diferite
						informații legate de respectivul eveniment, cum ar fi data acestuia,
						regiunea, arme folosite, tip atac, număr decese, număr răniți
						un rezumat al acelui eveniment, nume grup terorist, număr persoane
						implicate.
					</p>
				</section>
				<section id="Admin">
					<h3>Modulul de administrare</h3>
					<p>
						Pagina de admin are rolul de a oferi un mod de administrare a evenimentelor din baza de date.
					</p>
					<p>
					În partea stângă sunt 3 texte pentru selectarea unei acțiuni asupra evenimentelor 
					și un buton de delogare din modulul de administrare.
					<ul>
						<li>Primul text este pentru afișarea formului de adăugare a unui eveniment. Formul conține infomații de bază legate de 
							eveniment, cum ar fi data, latitudine, longitudine, regiune, țară, oraș, dacă este suicid, dacă o avut succes, țintă, descriere,
							număr răniți, număr omorâți, număr persoane implicate, nume grup terorist, motiv. La trimitere se va afișa un alert care va avea un mesaj 
							sugestiv legat de succesul inserării noului event.
						</li>
						<li>Al doilea text este pentru a arăta o listă de evenimente care doresc să fie șterse. Are opțiunea de a arată cate 5,10 sau 15 evenimente 
							de o dată. Fiecare eveniment are câte un checkbox, care la bifare va fi șters din baza de date la apăsarea butonului de "Ștergere evenimente".
							De asemenea în partea de jos sunt 2 butoane cu rol în a arăta evenimente mai noi sau mai vechi.
						</li>
						<li>Al treilea text este pentru afișarea opțiunii de modificare/actualizare a evenimentelor. Asemănător cu ștergerea, se vor afișa by default
							un număr de 15 evenimente, iar pentru fiecare eveniment vor fi arătate informații ca ID-ul, data, regiune,oras. Fiecare event va avea un buton 
							de edit ce va avea rol de creare a unei pagini noi, cu informațiile de la back-end, specifică evenimentului. Această pagină va fi un form 
							de completat cu placeholders ce au valori vechile valori din baza de date. La introducerea în câmpuri de valori noi, se va actualiza în baza de 
							date doar acele câmpuri care au modificată valoare. La reușită se va redirecționa la pagina de admin. La eșec se va afișa un alert cu un mesaj sugestiv.
						</li>
						<li>
							Butonul de delogare: are rol în delogarea unui admin din modulul de administrare, prin ștergerea datelor din sesiune și retrimiterea acestuia la pagina principală
						</li>
					</ul>
					</p>
				</section>
			</section>
			<section id="contributii">
				<h2>
					Contribuțiile membrilor
				</h2>
				<section id="proiectare">
					<h3>Proiectare si Design</h3>
					<p>
						La capitolul de proiectare a design-lui site-lui, toți membrii echipei au
						contribuit cu idei pentru paginile existente pe site.
					</p>
					<p>
						Pagina de home a fost schițată de <em>Moraru George</em>. Mai jos este o
						schiță
						la cum arata la început conceptul de pagină de home.
					</p>
					<figure id="schitaHome">
						<img src="../img/raport/schita_home.jpg" alt="Imagine home page in stadiu
							de proiectare">
						<figcaption>Schiță pentru pagina de home</figcaption>
					</figure>
					<p>
						Pagina pentru vizualizarea datelor și a hărții a fost gândită de <em>Musteață
							Robert</em>.
					</p>
					<figure id="schitaVizualizator">
						<img src="../img/raport/schita_vizualizator.jpg" alt="Imagine vizualizator
							in stadiu
							de proiectare">
						<figcaption>Schiță pentru vizualizator</figcaption>
					</figure>
					<p>
						Pagina de login pentru un administrator și template-ul de popularizare cu
						informații despre o țară selectată au fost schițate de <em>Angheluș Vlad</em>.
					</p>
					<figure id="schitaLogin">
						<img src="../img/raport/schita_login.png" alt="Imagine login page in
							stadiu de proiectare">
						<figcaption>Schiță pentru pagina de logare</figcaption>
					</figure>
					<figure id="schitaTemplate">
						<img src="../img/raport/schita_detaliiTara.jpg" alt="Imagine de pagina
							template pentru detalii legate de o țară in
							stadiu de proiectare">
						<figcaption>Schiță pentru template-ul de populat cu informații despre o
							țară.</figcaption>
					</figure>
				</section>
				<section id="crearePagini">
					<h3>
						Implementarea paginilor
					</h3>
					<section id="homePageContributors">
						<h4>
							Pagina Home
						</h4>
						<p>
							Contribuțiile la pagina de primire a utilizatorilor sunt următoarele:
						</p>
						<ul>
							<li>
								Navbar-ul, Footer-ul, butoanele de login și de accesare a
								vizualizatorului și titlul au fost create de <em>Moraru George</em>.
								Acestea sunt prealuate și la pagina de vizualizator.
							</li>
							<li>
								Partea de conținut (secțiunea de About) a fost realizată de <em>Musteață
									Robert</em>. De asemenea și logo-ul aplicației a fost realizat de
								acesta.
							</li>
							<li>
								Partea de responsiveness a fost realizată de <em>Moraru George</em>.
							</li>
						</ul>
					</section>

					<section id="Vizualizator">
						<h4>
							Pagina dedicată pentru vizualizator
						</h4>
						<p>
							Această pagină poate are cel mai important rol în întreaga aplicație.
							Aceasta este într-un continuu stagiu de îmbunărățire atât pe parte
							estetică,
							cât și pe parte funcțională. Membrii echipei au realizat următoarele la
							aceasta pagină a aplicației:
						</p>
						<ul>
							<li>
								Navbar-ul și Footer-ul sunt preluate de la <em>Moraru George</em>.
							</li>
							<li>
								Căutarea imaginii SVG și eventuale modificări ale ei au fost realizate
								de
								<em>Angheluș Vlad</em>.
							</li>
							<li>
								Crearea opțiunilor de căutare, filtrare și obținere de informații a unui
								incident au fost create de <em>Musteață Robert</em>.
							</li>
							<li>
								Stilizarea opțiunilor create a fost realizată de <em>Moraru George</em>.
							</li>
							<li>
								Responsiveness-ul a fost realizat în colaborare cu <em>Moraru George</em>
								(Navbar și Footer) și <em>Musteață Robert</em> (lista de opțiuni).
							</li>
						</ul>
					</section>

					<section id="adminPages">
						<h4>
							Login și pagina de administrarea
						</h4>
						<p>
							Acestea au rolul de a oferi o interfață pentru un utilizator de tip
							administrator care să ii permită să modifice anumite caracteristici
							ale aplicației, cum ar fi conținutul bazei de date.
						</p>
						<ul>
							<li>
								Crearea paginii de login a fost realizată de <em>Vlad Angheluș</em>
								Elemente de stilizare ca de exemplu imaginea de fade din background au
								fost
								create cu ajutorul lui <em>Moraru George</em>.
							</li>
							<li>
								Pagina de selectare a unei acțiuni (dashboard-ul) pentru un
								administrator a fost
								realizată de <em>Musteață Robert</em> în colaborare cu <em>Moraru George</em>
								Stilizarea paginii (culori, aranjări în pagină...) a fost consituită de
								<em>Moraru George</em>,
								iar partea de script (codul JavaScript) de <em>Musteață Robert</em>
							</li>
						</ul>
					</section>

					<section id="raportPage">
						<h4>
							Raportul
						</h4>
						<p>
							Prezentul raport a fost întocmit de <em>Musteață Robert</em> și <em>Angheluș
								Vlad</em>, aplicând tehnica
							<b>pair programming</b>.
						</p>
					</section>

				</section>
			</section>

			<section id="development">
				<h2>
					Stagiu de dezvoltare
				</h2>
				<p>
					În momentul redactării acestui raport, aplicația se rezumă doar la partea
					de site/interfață pentru utilizator. Pe parcursul dezvoltării părții
					logice/funcționale propiu
					zise, este extrem de probabil ca interfața să se schimbe, în funcție de
					opțiunile adăugate/eliminate aplicației. Pentru partea aceasta, de <u>Front-End</u>,
					încă se pot
					adăuga anumite îmbunătățiri majore la nivel de design (interacțiune în timp
					real cu un utilizator) și performanță (viteza de încărcare a resurselor).
				</p>
			</section>

		</ARTICLE>

	</body>
</html>