<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<!--De inserat si alte chestii mai atractive vizual cum ar fi un steag al tarii sau o harta geografica a tarii-->
	<h1>Informatii despre {getCountryName}</h1>
	<h2>Populatie: {getCount}</h2>
	<h2>Orientari partid politic: {getPolitics}</h2>
	<h2>Descriere geografica:</h2>
	<p>{getDescription}</p>
	<h2>Incidente teroriste:</h2>
	<ol>
		<li>Afisat pentru fiecare incident inregistrat detalii</li>
	</ol>
</body>
</html>