@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html{
    width:100%;
    min-height:100%;
}

body{
    width:100%;
    height:100%;
    margin: 0px 0px 0px 0px;
    font-family: 'Poppins';
    background-color: black;
    position: absolute;
}

hr {
    border-top: 2.5px dashed turquoise;
    border-bottom: none;
}

header{
    position: fixed;
    top: 0;
}

footer p{
    color: white;
}
.navbar {
    background-color: black;
    width: 100%;
    height: auto;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar button{
    background-color: blueviolet;
    font-family: Poppins;
    color: white;
    text-align: center;
    border-radius: 10px ;
    padding: 10px 10px;
    margin-right: 1vh;
}

.navbar button:hover{
    background-color: white;
    font-family: Poppins;
    color:blueviolet;
    text-align: center;
    font-weight: bold;
    border-radius: 10px ;
    padding: 10px 10px;
    margin-right: 1vh;
}

.navbar img {
        width: 6em;
        height: 6em;
}

.welcome{
    background-image: url(../img/backgroundWelcome.jpg);
    background-size: cover 600px;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    text-shadow: 4px 4px 3px black;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* centrez textul din div-ul "Welcome" */
    text-align:center;
}

.titled{
    font-size: 50px;
    margin: 0px 0px 0px 0px;
}

.motto{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

.redirectMap{
    display:flex;
    justify-content: center;
}
.redirectMap button {
    background-color: blueviolet;
    font-family: Poppins;
    color: white;
    text-align: center;
    border-radius: 10px ;
    padding: 10px 10px;
}
.redirectMap button:hover {
    background-color: white;
    font-family: Poppins;
    color:blueviolet;
    text-align: center;
    font-weight: bold;
    border-radius: 10px ;
    padding: 10px 10px;
}

.footer{
    text-align: center;
    background-color: #27282c;
    color: white;
    left: 0;
    bottom:0;
    width: 100%;
}
.footer hr{
    color: white;
    border: ridge;
}

.footer-title{
    text-align: center;
}
.footer-title p {
    padding-top: 15px;
}
.footer-team{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.Vlad,.George,.Robert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.icons i{
    padding: 0px 10px 0px 10px;
}
.fa-facebook-f:hover{
    color:#4267B2;
}
.fa.fa-instagram:hover{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.about{
    font-family: Poppins;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: auto;
    margin-left: 12.5%;
}
.aboutElement{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.introImage img,.MilitaryImage img,.techImage img{
    width: 20em;
    height: 20em;
}
.textAbout{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    align-content: center;
}
.Motivation{
    margin-left: 10px;
}