<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harta Vizualizator</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <script src="script.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="tari.js"></script>
    <script src="map.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6ibJluJURAnhrpfRX34TWNKqmz_oPEzo&callback=initMap"
      async
    ></script>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="../homePage/home.html">
        <img src="../img/logo.png" alt="logo aplicație" />
      </a>
      <form action="../loginPage/formLogare.php">
        <button>Log In Admin</button>
      </form>
    </nav>

    <div class="mapFormBackground">
      <div class="mapForm1">
        <div class="regiune">
          <label for="regiune">Selectati o regiune</label>
          <select id="regiune" name="Regions">
            <option selected value="North America">North America</option>
            <option value="Central America & Caribbean">
              Central America & Caribbean
            </option>
            <option value="South America">South America</option>
            <option value="East Asia">East Asia</option>
            <option value="Southeast Asia">Southeast Asia</option>
            <option value="South Asia">South Asia</option>
            <option value="Central Asia">Central Asia</option>
            <option value="Western Europe">Western Europe</option>
            <option value="Eastern Europe">Eastern Europe</option>
            <option value="Middle East & North Africa">
              Middle East & North Africa
            </option>
            <option value="Sub-Saharan Africa">Sub-Saharan Africa</option>
            <option value="Australasia & Oceania">Australasia & Oceania</option>
          </select>
        </div>
        <div class="period">
          <div>
            <label for="periodDiv">Perioade:</label>
            <input type="checkbox" name="periodDiv" onchange="displayFilters(this.name)" />
          </div>
          <div style = "display:none" id="periodDiv">
            <label for="perioada">Selectati o perioada</label>
            <div class="periodInput">
              <input
              type="number"
              min="1970"
              max="2017"
              name="perioada"
              id="beginYear"
              />
              <input
              type="number"
              min="1970"
              max="2017"
              name="perioada"
              id="lastYear"
              />
            </div>
          </div>
        </div>
        <div class="period">
          <div>
            <label for="woundContainer">Raniti:</label>
            <input type="checkbox" name="woundContainer" onchange="displayFilters(this.name)" />
          </div>
          <div id="woundContainer" style= "display:none">
            <label for="nwound">Selectati intervalul pentru oameni raniti</label>
            <div class="periodInput">
              <input
                type="number"
                min="1970"
                max="2017"
                name="nwound"
                id="beginWound"
              />
              <input
                type="number"
                min="1970"
                max="2017"
                name="nwound"
                id="lastWound"
              />
            </div>
          </div>
        </div>
        <div class="period">
          <div>
            <label for="killnumContainer">Ucisi:</label>
            <input type="checkbox" name="killnumContainer" onchange="displayFilters(this.name)" />
          </div>
          <div style="display:none" id="killnumContainer">
            <label for="nkills">Selectati intervalul pentru oameni ucisi</label>
            <div class="periodInput">
              <input
                type="number"
                min="1970"
                max="2017"
                name="nkills"
                id="beginNKills"
              />
              <input
                type="number"
                min="1970"
                max="2017"
                name="nkills"
                id="lastNKills"
              />
            </div>
          </div>
        </div>

        <div class="success">
          <label for="success">Succeded: </label>
          <select id="success" name="success">
            <option  selected>None</option>
            <option value="1">Da</option>
            <option value="0">Nu</option>
          </select>
        </div>
        <div class="suicide">
          <label for="suicide">Suicide: </label>
          <select id="suicide" name="suicide">
            <option selected>None</option>
            <option value="1">Da</option>
            <option value="0">Nu</option>
          </select>
        </div>
        <div class="exceeded">
          <label for="exceeded">Peste 24 de ore: </label>
          <select id="exceeded" name="exceeded">
            <option selected>None</option>
            <option value="1">Da</option>
            <option value="0">Nu</option>
          </select>
        </div>
        <div class="attack">
          <label for="tipAtac"> Tipul atacului: </label>
          <select id="tipAtac">
          <option>None</option>
          <option value="6">Luare de ostatici (Rapiri)</option>
          <option value="8">Atac neinarmat</option>
          <option value="5">Luare de ostatici (Incident Baricadat)</option>
          <option value="2">Atac armat</option>
          <option value="4">Hijacking</option>
          <option value="9">Necunoscut</option>
          <option value="7">Atac asupra unei cladiri/infrastructuri</option>
          <option value="3">Explozii/Bombardament</option>
          <option value="1">Asasinare</option>
        </select>
      </div>
        <div class="sendButton">
          <button onclick="createMarkers()">Send</button>
        </div>
      </div>
      <div class="mapGenerate">
        <div class="mapGenerate1" id="drawHere"></div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-title">
        <p>Contact</p>
      </div>
      <hr />
      <div class="footer-team">
        <div class="Vlad">
          <p>Anghelus Ionut-Vlad</p>
          <p>" Best day ever! "</p>
          <div class="icons">
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-instagram"></i>
          </div>
        </div>
        <div class="Robert">
          <p>Musteata Robert-Andrei</p>
          <p>" Live high and expect higher! "</p>
          <div class="icons">
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-instagram"></i>
          </div>
        </div>
        <div class="George">
          <p>Moraru George</p>
          <p>" Live the moment! "</p>
          <div class="icons">
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <div class="formIncidentCautare">
          <p>Pentru a putea căuta un incident, vă rugăm să selectați dintre
            atributele de mai jos care considerați că au legatură cu atacul</p>
          <form action="researchIncident.php">
            <label for="locatieTara">
              Introduceți inițialele țării unde credeți că a avut loc
              evenimentul terorist
            </label>
            <input type="text" id="locatieTara">
            <br>
            <label for="aniiIncident">
              Introduceți mai jos anul sau anii pe durata cărora credeți că s-a
              desfășurat evenimentul, cu virgulă daca sunt mai mulți
            </label>
            <input type="text" id="aniiIncident" />
            <br>
            <label>Alegeți de mai jos atributele care
              considerați că sunt specifice
              incidentului</label>
            <br>
            <input type="checkbox" id="atribut1" value="organizat" />
            <label for="atribut1">Assasinare</label>
            <br>
            <input type="checkbox" id="atribut2" value="religieScop" />
            <label for="atribut2">Răpire/Luare de ostatici</label>
            <br>
            <input type="checkbox" id="atribut3" value="extremismPolitic" />
            <label for="atribut3">Bombardament/Explozii</label>
            <br>
            <input type="checkbox" id="atribut4" value="militarArmament" />
            <label for="atribut4">Atac armat</label>
            <br>
            <input type="checkbox" id="atribut5" value="infrastuctura" />
            <label for="atribut5">Atac al unei clădiri/Infrastructuri </label>
            <br>
            <label>Selectati ce detalii doriti legate de incidetul respectiv</label>
            <br>
            <input type="checkbox" id="weapons">
            <label for="weapons">Arme folosite</label>
            <br>
            <input type="checkbox" id="targetType">
            <label for="weapons">Ținta/Victimele atacului</label>
            <br>
            <input type="checkbox" id="groupName">
            <label for="groupName">Nume organizație teroristă</label>
            <br>
            <input type="checkbox" id="fatalities">
            <label for="fatalities">Număr de cazuri de persoane vătămate</label>
            <br>
             TODO: adaugat posibile detalii de ales cum ar fi arme folosite, modul in care s-a organizar (retele de socializare, intalniri etc.) etc.-->
<!-- <input type="submit" name="Submit" />
          </form> -->
